<router-outlet></router-outlet>
<div class="blstyle">
  <p class="liststyle">Admin_BoardList</p>

  <nav>
    <ul>
      <li><a (click)="gotostatistics()">Statistics</a></li>
      <li><a (click)="userboard()">User_Board List</a></li>
      <li><a (click)="adminuser()">Admin_User List</a></li>
    </ul>
  </nav>
</div>

<div class="body">
  <table class ="type01" id="boardtable">
    <thead>
    <tr style="border-bottom: 4px dashed #FF6600">
      <th>NO</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>작성시간</th>
      <th>조회수</th>
      <th colspan="2"> 수정/삭제</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of boardList">
      <ng-container *ngIf="item.group_depth==0">
        <ng-container *ngIf="item.idx == item.group_idx">
          <td>{{item.num}}</td>
          <td>{{item.title}}</td>
          <td>{{item.writer}}</td>
          <td>{{item.writeDate}}</td>
          <td>{{item.hit}}</td>
          <td><input type="button" value="수정/삭제" (click)="godetail(item.idx, item.hit)"></td>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="item.group_depth==1">
        <ng-container *ngIf="item.group_idx== item.group_idx">
          <td colspan="2"> <input type="button" value="Re" class="comment2"> &nbsp;{{item.title}}</td>
          <td>{{item.writer}}</td>
          <td>{{item.writeDate}}</td>
          <td></td>
          <td><input type="button" value="수정/삭제" (click)="godetail(item.idx, item.hit)"></td>
        </ng-container>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>


