<!--<p>board-detail works!</p>-->
<!-- <p>상세페이지 (api 연동 완료)</p>-->
<router-outlet></router-outlet>

<div>
  <form >
    <table>

      <colgroup>
        <col style="width:20%">         <!--왼쪽 셀 간격-->
        <col style="width:80%">           <!-- 오른쪽 셀 간격-->
       <!-- <col style="width:10%">    얜 뭔지 모름-->
      </colgroup>


      <tr>
        <td>제목</td>
        <td>{{title}}</td>

      </tr>
      <tr>
        <td>작성자</td>
        <td><!--작성자 닉네임-->{{writer}}</td>


      </tr>

      <tr>
        <td>작성시간</td>
        <td><!--작성한 시간 표기-->{{writeDate}}</td>
      </tr>

<!--      <tr>
        <td colspan="2"> &lt;!&ndash;class="content"&ndash;&gt;내용</td>
      </tr>-->

      <tr>
        <td colspan="2" height="300"> <!--class="content"-->{{content}}</td>
      </tr>

    </table>
  </form>
</div>

<div class="detailbutton">
  <!--<button type=button> 덧글</button>
  &nbsp;-->
  <button type=button (click)="gotolist()" >확인</button>
  <button type=button (click)="gotoModify(postIdx)" >수정</button>
    <!--postIdx값에 따라, 게시글 수정 페이지로 이동-->
  <button type=button title="삭제" (click)="remove()" >삭제</button>
</div>
<br>
<br>
<br>
<br>
<div class="center">
<div id="form-commentInfo" [formGroup]="CommentForm">
  <div id="comment-count" >댓글
    <!--<span id="count">0</span>-->
  </div>
  <input id="comment-input" placeholder="댓글을 입력해 주세요." formControlName="comment">
  <button id="submit" (click)="addcomment()">등록</button>
</div>
<div>
  <form *ngFor="let data of commentList" class="eachComment">
    <ng-container *ngIf="data.depth ==0" >
      {{data.comment}}
      <input type="button" value="답글" class="submit" (click)="Reply()" >
      <div class="center" *ngIf="this.replybutton" [formGroup]="ReplyCommentForm">
        <div style="width: 100%;" >
          <input style="width: 80%; height: 3.3em; margin-top: 10px;" placeholder="답글을 입력해 주세요." formControlName="comment" >
          <button style=" background-color: rgb(0, 128,255); width: 5.5em; height: 3.3em;; font-size: 15px; font-weight: bold; color: aliceblue;"
                  (click)="replyComment()">등록</button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="data.depth ==1" >
      <input type="button" value="대댓글" class="comment2">     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.comment}}
      <!--<input type="button" value="답글" class="submit">-->
    </ng-container>
 <!--   <ng-container *ngIf="data.depth ==2" >
      <input type="button" value="대댓글" class="comment3">    ➜ &nbsp; {{data.comment}}
    </ng-container>-->
    </form>
</div>
</div>



  <!--답글 버튼 눌렀을때 나타나도록 설정-->
<br>
<br>

<!--<div class="center" *ngIf="this.replybutton == false">-->
<!--<div class="center" *ngIf="this.replybutton">-->
<!--<div id="reply-comment"  [formGroup]="ReplyCommentForm">-->
<!--  <input id="reply-input" placeholder="답글을 입력해 주세요." formControlName="comment" >-->
<!--  <button id="reply-submit" (click)="replyComment()">등록</button>-->
<!--</div>-->
<!--</div>-->




