<p>관리자 "user 정보 수정"</p>
<router-outlet></router-outlet>

  <form action="index.html" method="post" class="loginForm" [formGroup]="fgModify">
    <p class="title">User_Modify</p>
    <div class="idForm" >
      <input type="id" formControlName="fc_id" class="id" placeholder="ID">
      <input type="button" class="id_check_button" value="중복확인" (click)="check_id($event)">
    </div>
    <div class="passForm">
      <input type="password" formControlName="fc_pw" class="pw" placeholder="PW"> <!--비밀번호 입력창-->
    </div>
    <div class="passForm" >
      <input type="password" formControlName="fc_verify_pw" class="pw" placeholder="PW_Confirm"> <!--비밀번호 입력창-->
    </div>
    <div class="nameForm" >
      <input type="name" formControlName="fc_name" class="name" placeholder="NickName">
      <input type="button" class="name_check_button"  value="중복확인" (click)="check_name($event)"><!--이름 입력창-->
    </div>

    <button type="button" class="btn" (click)="adminUser()">
      완료  <!--버튼 누르면 유저 정보 수정되게 설정-->
    </button>
  </form>
