/*

table.type01 { border-collapse: collapse; text-align: center; line-height: 1.5; margin : 20px 10px; background-color: powderblue; }
table.type01 th { width: 250px; padding: 10px; font-weight: bold; vertical-align: top; border: 1px solid #ccc;}
table.type01 td { width: 250px; padding: 10px; vertical-align: top; border: 1px solid #ccc; }
table.type01 caption { font-size: 35px; color: darkblue; font-weight: bolder;}


.body {text-align: -webkit-center}
*/
