table {
  width: 70%;
  margin:auto;
  border-collapse: collapse;
  border: 1px solid #444444;


}
th {
  width: 20%;
  border-bottom: 1px solid #444444;
  padding: 8px;
  border-right:1px solid #444444;

}

td {
  width: 20%;
  border-bottom: 1px solid #444444;
  padding-right: 8px;
  border-right:1px solid #444444;
  text-align: center;

}

td.content{ width: 20%;
  border-bottom: 1px solid #444444;
  padding-right: 8px;
  border-right:1px solid #444444;
  text-align: left;
}
tr{
  background-color: lightgrey;
  padding-right: 2px;

}

div.detailbutton{display: inline-block;
  flex-basis: 100%;
  text-align: right;
  margin: 1.5rem;    /* 위 아래 간격*/
  padding: .5rem 1rem;
  font-weight: bold;
  background: slategray;
  float: right;
  outline-style: none
}

input.create{
  background-color:lightgrey;
  border:0 solid black;
  outline-style: none;
}

input.createcontent{
  background-color:lightgrey;
  border:0 solid black;
  text-align: left;
  height : 210px;
  outline-style: none
}

td.date{
  text-align: left;
}
